body{
    margin: 0;
}
.container{
    margin-top: 16px;
    background: #111;
    padding: 1.4em;
}
.draggable{
    background: #fff;
    padding: 16px;
    cursor: move;
    border: 1px solid #000;
}
.draggable.dragging{
    opacity: 0.5;
}






p{
    font-size: 20px;
    font-weight: 700;
}